<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--
      <add name="GraSupInf.Properties.Settings.GRASUPINFConnectionString"
          connectionString="Data Source=LEOPARD\SQLEXPRESS;Initial Catalog=GRASUPINF;User ID=di;Password=1234"
          providerName="System.Data.SqlClient" />
      -->
      <add name="GraSupInf.Properties.Settings.GRASUPINFConnectionString"
          connectionString="Data Source=localhost;Initial Catalog=GRASUPINF;User ID=di;Password=1234"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>